
.containerMain{
    max-width: 1100px;
    padding: 15px;padding-top: 2rem;
}

.df{
    display: flex;
}

.jcsa{
    justify-content: space-around;
}

.hidden {
    display: none;
}
.row{
    margin-bottom: 0;
}

.itemNumInpt {
    max-width: 40%;
}

/* .hyperperiodicity p {
    margin-right: 20px;
} */